.newProduct {
	flex: 4;
}

.addProductForm {
	margin: 20px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.addProductItem {
	width: 250px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.addProductItem > label {
	color: gray;
	font-weight: 600;
	margin-bottom: 10px;
}

.addProductItem > input {
	padding: 10px;
}

.size {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.size > label {
	margin-left: 15px;
}

.addProductItem > select {
	padding: 10px;
}

.addProductButton {
	margin-top: 10px;
	padding: 7px 10px;
	border: none;
	border-radius: 10px;
	background-color: darkblue;
	color: white;
	font-weight: 600;
	cursor: pointer;
}