.product {
	flex: 4;
	padding: 20px;
}

.productTitleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.productAddButton {
	width: 80px;
	padding: 5px;
	border: none;
	background-color: teal;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.productTop {
	display: flex;
}

.productTopLeft, .productTopRight {
	flex: 1;
}

.productTopRight {
	padding: 20px;
	margin: 20px;
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.productInfoTop {
	display: flex;
	align-items: center;
}

.productInfoImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 20px;
}

.productName {
	font-weight: 600;
}

.productInfoBottom {
	margin-top: 10px;
}

.productInfoItem {
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.productInfoValue {
	font-weight: 300;
}

.productBottom {
	padding: 20px;
	margin: 20px;
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}


.productForm {
	display: flex;
	justify-content: space-between;
}

.productFormLeft {
	display: flex;
	flex-direction: column;
}

.productFormLeft>label {
	margin-bottom: 10px;
	color: gray;
}

.productFormLeft>input {
	margin-bottom: 20px;
	border: none;
	padding: 5px;
	border-bottom: 1px solid gray;
}

.productFormLeft>input:focus {
	outline: none;
	border-bottom: 2px solid black;
}

.productFormLeft>select {
	margin-bottom: 10px;
}

.productFormRight {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.productUpload {
	display: flex;
	align-items: center;
}

.productUploadImg {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	object-fit: cover;
	margin-right: 20px;
}

.productButton {
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: darkblue;
	color: white;
	font-weight: 600;
	cursor: pointer;
}